model_config_list {
  config {
    name: "thd_lesson",
    base_path: "/data/dkt/persistent/model/thd/lesson/",
    model_platform: "tensorflow",
    model_version_policy {
      specific {
        versions: 1
      }
    }
  },
  config {
    name: "thd_lecture",
    base_path: "/data/dkt/persistent/model/thd/lecture/",
    model_platform: "tensorflow",
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
  config {
    name: "thd_cognitive",
    base_path: "/data/dkt/persistent/model/thd/cognitive/",
    model_platform: "tensorflow",
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
  config {
    name: "thd_difficulty",
    base_path: "/data/dkt/persistent/model/thd/difficulty/",
    model_platform: "tensorflow",
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
  config {
    name: "thd_ptype",
    base_path: "/data/dkt/persistent/model/thd/ptype/",
    model_platform: "tensorflow",
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
  config {
    name: "ath_achieve",
    base_path: "/data/dkt/persistent/model/ath/achieve/",
    model_platform: "tensorflow",
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
  config {
    name: "ath_lesson",
    base_path: "/data/dkt/persistent/model/ath/lesson/",
    model_platform: "tensorflow",
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
  config {
    name: "ath_cognitive",
    base_path: "/data/dkt/persistent/model/ath/cognitive/",
    model_platform: "tensorflow",
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
  config {
    name: "ath_content",
    base_path: "/data/dkt/persistent/model/ath/content/",
    model_platform: "tensorflow",
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
  config {
    name: "ath_difficulty",
    base_path: "/data/dkt/persistent/model/ath/difficulty/",
    model_platform: "tensorflow",
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
  config {
    name: "ath_ptype",
    base_path: "/data/dkt/persistent/model/ath/ptype/",
    model_platform: "tensorflow",
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
}